h3
{
    font-size: 30px;
    color:brown;
}
.SelectorClass
{
    background-color: cornflowerblue;
    text-align: center;
    background-position: right;
}
#SelectorID
{
    color: rgb(90, 7, 24);
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(216, 95, 152);
}
.AbsolutePositioning
{
    position:absolute;
    color:tomato;
    font-size: 40px;
    top:40px;
    left: 150px;
}
.RelativePositioning
{
    position: relative;
    color: darkolivegreen;
    font-family: fantasy;
    text-align: right;
    margin-right: 50px;
}
.Image
{
    width: 150px;
    height: 150px;
}
.Float
{
    float: right;
    border: 4px solid rgb(216, 95, 152);
    padding: 0px 0px 0px 5px;
}
input[type=radio] + label
{
    color:violet;
}
input[type=radio]:checked:nth-of-type(2) + label
{
    color:tomato;
    font-weight: bold;
    background-color:rgb(0, 255, 221);
}
input[type=radio]:checked:first-of-type + label
{
    color: yellowgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-style: italic;
}
input[type=radio]:checked:last-of-type + label
{
    color: brown;
    font-family: fantasy;
}
input[type=radio]:checked:nth-of-type(3) + label
{
    color:honeydew;
    background-color: indianred;
    font-size: smaller;
    font-style: oblique;
}
.FlexBox
{
    width: auto;
    display: flex;
    background-color: grey;
    align-items: center;
    justify-content: center;
}
.BlueBox
{
    margin: 15px;
    background-color:darkblue;
    font-variant-caps:all-petite-caps;
}
.GreenBox
{
    margin: 15px;
    background-color:green;
    font-variant-caps:all-petite-caps;
}
.RedBox
{
    margin: 15px;
    background-color:red;
    font-variant-caps:all-petite-caps;
}